.PhoneInput {
    @apply w-4/6 mb-2.5;
}
  
.PhoneInputInput {
    @apply h-12 px-3 py-2 border-2 border-main-gray rounded-xl 
           focus:outline-none focus:ring-main-orange focus:border-main-orange 
           hover:border-main-orange
           text-sm text-foreground-800
           placeholder:text-foreground-800 placeholder:opacity-70
           bg-transparent;
}

.PhoneInputCountrySelect:focus + .PhoneInputCountryIcon + .PhoneInputCountrySelectArrow {
    @apply opacity-100 text-main-orange;
}

.PhoneInputCountrySelect:focus + .PhoneInputCountryIcon--border {
    @apply shadow-[0_0_0_1px_theme(colors.main-orange),inset_0_0_0_1px_theme(colors.main-orange)];
}

.PhoneInputCountrySelect:focus + .PhoneInputCountryIcon .PhoneInputInternationalIconGlobe {
    @apply opacity-100 text-main-orange;
}
