@tailwind base;
@tailwind components;
@tailwind utilities;

body > #root > div {
    height: 100vh;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.form {
    width: 20%;
    height: 50%;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
}
